In [3]:
!pip install numpy
!pip install pandas


import numpy as np
import pandas as pd

Requirement already satisfied: numpy in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (1.25.2)

WARNING: You are using pip version 22.0.4; however, version 23.3.1 is available.
You should consider upgrading via the 'C:\Users\user\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: pandas in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (2.1.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.22.4 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

WARNING: You are using pip version 22.0.4; however, version 23.3.1 is available.
You should consider upgrading via the 'C:\Users\user\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [4]:
pip install xlsxwriter

Requirement already satisfied: xlsxwriter in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (3.1.3)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 23.3.1 is available.
You should consider upgrading via the 'C:\Users\user\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [44]:
import xlsxwriter

In [45]:
time = pd.DataFrame()

Trying to make a dynamic Date Column and assigning all the hours of the different projects as 0

In [46]:
# defining the function that creates the dates of a month according to the month and the year name provided

def create_range(month, year):
    d = pd.to_datetime(f'{month} {year}', format='%B %Y')
    return pd.date_range(start = d, periods = d.daysinmonth)

In [48]:
#adjust the parameters in this step to get the desired output

date_creator = create_range(month = 'May', year = 2023)

time["Date"] = date_creator

time["Resource"] = "Gourab"

time["Resource_Project_code"] = "Project_code"

time["P_A"] = 0
time["P_B"] = 0
time["P_C"] = 0
time["P_D"] = 0
time["P_E"] = 0
time["P_F"] = 0
time["P_G"] = 0

In [49]:
time.head()

        Date Resource Resource_Project_code  P_A  P_B  P_C  P_D  P_E  P_F  P_G
0 2023-05-01   Gourab          Project_code    0    0    0    0    0    0    0
1 2023-05-02   Gourab          Project_code    0    0    0    0    0    0    0
2 2023-05-03   Gourab          Project_code    0    0    0    0    0    0    0
3 2023-05-04   Gourab          Project_code    0    0    0    0    0    0    0
4 2023-05-05   Gourab          Project_code    0    0    0    0    0    0    0

In [50]:
# function to convert the date to string in dd-mm-yyyy format

def convert_date_standard_string(obj):
    return "{:%d-%m-%Y}".format(obj)

In [51]:
#function to make customised weekend 

"""Example - if a person has working day from tuesday to Saturday his weekoffs will be sunday and monday
    and that will be pointed out in the new column. If he is working on a saturday then that day
     will be marked as a weekend """

def is_weekoff_weekend(date):
    if date.weekday() == 6 or date.weekday() == 0:
        return "Week-Off"
    elif date.weekday() == 5:
        return "Week-End"
    else:
        return "Working Day"

time['day-description'] = time['Date'].apply(is_weekoff_weekend)

In [52]:
time.head(10)

,Date,Resource,Resource_Project_code,P_A,P_B,P_C,P_D,P_E,P_F,P_G,day-description
0,2023-05-01,Gourab,Project_code,0,0,0,0,0,0,0,Week-Off
1,2023-05-02,Gourab,Project_code,0,0,0,0,0,0,0,Working Day
2,2023-05-03,Gourab,Project_code,0,0,0,0,0,0,0,Working Day
3,2023-05-04,Gourab,Project_code,0,0,0,0,0,0,0,Working Day
4,2023-05-05,Gourab,Project_code,0,0,0,0,0,0,0,Working Day
5,2023-05-06,Gourab,Project_code,0,0,0,0,0,0,0,Week-End
6,2023-05-07,Gourab,Project_code,0,0,0,0,0,0,0,Week-Off
7,2023-05-08,Gourab,Project_code,0,0,0,0,0,0,0,Week-Off
8,2023-05-09,Gourab,Project_code,0,0,0,0,0,0,0,Working Day
9,2023-05-10,Gourab,Project_code,0,0,0,0,0,0,0,Working Day

In [53]:
time["Weekday Hours"] = 0
time["Weekend Hours"] = 0
time["Total Hours"]=0
time["Comments"]=" "
time["Weekend comments"]=" "

In [54]:
# finding the dimension of the dataframe

time.shape[0]

31

In [55]:
time['Date'] = time['Date'].apply(convert_date_standard_string)

In [56]:
time.head()

,Date,Resource,Resource_Project_code,P_A,P_B,P_C,P_D,P_E,P_F,P_G,day-description,Weekday Hours,Weekend Hours,Total Hours,Comments,Weekend comments
0,01-05-2023,Gourab,Project_code,0,0,0,0,0,0,0,Week-Off,0,0,0,,
1,02-05-2023,Gourab,Project_code,0,0,0,0,0,0,0,Working Day,0,0,0,,
2,03-05-2023,Gourab,Project_code,0,0,0,0,0,0,0,Working Day,0,0,0,,
3,04-05-2023,Gourab,Project_code,0,0,0,0,0,0,0,Working Day,0,0,0,,
4,05-05-2023,Gourab,Project_code,0,0,0,0,0,0,0,Working Day,0,0,0,,

In [82]:
writer = pd.ExcelWriter('demo.xlsx', engine = 'xlsxwriter', date_format='%d-%m-%Y')

time.to_excel(writer, sheet_name='hours', startrow=13,startcol=0, index=False)

workbook = writer.book
worksheet = writer.sheets['hours']
green = workbook.add_format({'color':'green'})
red = workbook.add_format({'color':'red'})



text_wrap = workbook.add_format({'text_wrap':True})





string = ['Weekoffs are marked in',red,' red.', 'Weekends are marked in', green, ' green.']
worksheet.write(0, 0, 'Note: ')
worksheet.write_rich_string(1, 0, 
                            *string)

# setting the border format
centre_border = workbook.add_format({'border': 1, "align":"centre"})

# merging the columns to set the header
centre_format = workbook.add_format(
    {
        "align":"center"
    }
)

worksheet.write(3, 0, "Project Name", centre_border)
worksheet.write(3,1, "US Project Code", centre_border)
worksheet.write(3, 2, "Project Tasks", centre_border)

# worksheet.merge_range("E5:K5", "Project code and hours", center_format)
worksheet.write("A5", "P_A", centre_border)
worksheet.write("A6", 'P_B', centre_border)
worksheet.write("A7", 'P_C', centre_border)
worksheet.write("A8", 'P_D', centre_border)
worksheet.write("A9", 'P_E', centre_border)
worksheet.write('A10', 'P_F', centre_border)
worksheet.write('A11', 'P_G', centre_border)


# writing out the dummy US project codes
worksheet.write("B5", "US-1", centre_border)
worksheet.write("B6", "US-2", centre_border)
worksheet.write("B7", "US-3", centre_border)
worksheet.write("B8", "US-4", centre_border)
worksheet.write("B9", "US-5", centre_border)
worksheet.write("B10", "US-6", centre_border)
worksheet.write("B11", "US-7", centre_border)


# writing out the tasks
worksheet.write("C5", "Task A", centre_border)
worksheet.write("C6", "Task B", centre_border)
worksheet.write("C7", "Task C", centre_border)
worksheet.write("C8", "Task D", centre_border)
worksheet.write("C9", "Task E", centre_border)
worksheet.write("C10", "Task F", centre_border)
worksheet.write("C11", "Task G", centre_border)



# displaying the total hours in weekend and weekdays

# worksheet.write('D42','Total Weekdays hours', merge_format)
# worksheet.write('E42', 'Total Weekend hours', merge_format)
# worksheet.write('F42', 'Total Hours', merge_format)
# worksheet.write_formula('C43', '=E6')
# worksheet.write_formula('C44', '=F6')
# worksheet.write_formula('C45', '=G6')
# worksheet.write_formula('C46', '=H6')
# worksheet.write_formula('C47', '=I6')
# worksheet.write_formula('C48', '=J6')
# worksheet.write_formula('C49', '=K6')

# defining the formulas inside the excel

# creating the cell range

# cell_range = [f'L{i}' for i in range(8,38)]
# sum_range = [f'SUM(E{i}:K{i})' for i in range(8, 38)]

# formula = []

# for i in range(len(cell_range)):
#     formula.append(f'=IF({cell_range[i]}="No",{sum_range[i]},0)')

# for i in range(len(cell_range)):
#     worksheet.write_formula("cell_range[i]", )

# data_range = "L8:L38"

# worksheet.write_formula(data_range,'{=SUM(IF($L8="Yes",0,$D8:$J8))}')







# autofitting the worksheet cells
# worksheet.autofit()

writer.close()

In [24]:
cell_range = [f'L{i}' for i in range(8,38)]
sum_range = [f'SUM(E{i}:K{i})' for i in range(8, 38)]

formula = []

for i in range(len(cell_range)):
    formula.append(f'=IF({cell_range[i]}="No",{sum_range[i]},0)')


for i in range(len(cell_range)):
    print(f'cell = "{cell_range[i]}", formula"{formula[i]}"')

cell = "L8", formula"=IF(L8="No",SUM(E8:K8),0)"
cell = "L9", formula"=IF(L9="No",SUM(E9:K9),0)"
cell = "L10", formula"=IF(L10="No",SUM(E10:K10),0)"
cell = "L11", formula"=IF(L11="No",SUM(E11:K11),0)"
cell = "L12", formula"=IF(L12="No",SUM(E12:K12),0)"
cell = "L13", formula"=IF(L13="No",SUM(E13:K13),0)"
cell = "L14", formula"=IF(L14="No",SUM(E14:K14),0)"
cell = "L15", formula"=IF(L15="No",SUM(E15:K15),0)"
cell = "L16", formula"=IF(L16="No",SUM(E16:K16),0)"
cell = "L17", formula"=IF(L17="No",SUM(E17:K17),0)"
cell = "L18", formula"=IF(L18="No",SUM(E18:K18),0)"
cell = "L19", formula"=IF(L19="No",SUM(E19:K19),0)"
cell = "L20", formula"=IF(L20="No",SUM(E20:K20),0)"
cell = "L21", formula"=IF(L21="No",SUM(E21:K21),0)"
cell = "L22", formula"=IF(L22="No",SUM(E22:K22),0)"
cell = "L23", formula"=IF(L23="No",SUM(E23:K23),0)"
cell = "L24", formula"=IF(L24="No",SUM(E24:K24),0)"
cell = "L25", formula"=IF(L25="No",SUM(E25:K25),0)"
cell = "L26", formula"=IF(L26="No",SUM(E26:K26),0)"
cell = "L27", formula"=IF(L27="No",SUM(E27:K27),0)"
cell = "L28", formula"=IF(L28="No",SUM(E28:K28),0)"
cell = "L29", formula"=IF(L29="No",SUM(E29:K29),0)"
cell = "L30", formula"=IF(L30="No",SUM(E30:K30),0)"
cell = "L31", formula"=IF(L31="No",SUM(E31:K31),0)"
cell = "L32", formula"=IF(L32="No",SUM(E32:K32),0)"
cell = "L33", formula"=IF(L33="No",SUM(E33:K33),0)"
cell = "L34", formula"=IF(L34="No",SUM(E34:K34),0)"
cell = "L35", formula"=IF(L35="No",SUM(E35:K35),0)"
cell = "L36", formula"=IF(L36="No",SUM(E36:K36),0)"
cell = "L37", formula"=IF(L37="No",SUM(E37:K37),0)"

In [36]:
formula

['=IF(L8="No",SUM(E8:K8),0)',
 '=IF(L9="No",SUM(E9:K9),0)',
 '=IF(L10="No",SUM(E10:K10),0)',
 '=IF(L11="No",SUM(E11:K11),0)',
 '=IF(L12="No",SUM(E12:K12),0)',
 '=IF(L13="No",SUM(E13:K13),0)',
 '=IF(L14="No",SUM(E14:K14),0)',
 '=IF(L15="No",SUM(E15:K15),0)',
 '=IF(L16="No",SUM(E16:K16),0)',
 '=IF(L17="No",SUM(E17:K17),0)',
 '=IF(L18="No",SUM(E18:K18),0)',
 '=IF(L19="No",SUM(E19:K19),0)',
 '=IF(L20="No",SUM(E20:K20),0)',
 '=IF(L21="No",SUM(E21:K21),0)',
 '=IF(L22="No",SUM(E22:K22),0)',
 '=IF(L23="No",SUM(E23:K23),0)',
 '=IF(L24="No",SUM(E24:K24),0)',
 '=IF(L25="No",SUM(E25:K25),0)',
 '=IF(L26="No",SUM(E26:K26),0)',
 '=IF(L27="No",SUM(E27:K27),0)',
 '=IF(L28="No",SUM(E28:K28),0)',
 '=IF(L29="No",SUM(E29:K29),0)',
 '=IF(L30="No",SUM(E30:K30),0)',
 '=IF(L31="No",SUM(E31:K31),0)',
 '=IF(L32="No",SUM(E32:K32),0)',
 '=IF(L33="No",SUM(E33:K33),0)',
 '=IF(L34="No",SUM(E34:K34),0)',
 '=IF(L35="No",SUM(E35:K35),0)',
 '=IF(L36="No",SUM(E36:K36),0)',
 '=IF(L37="No",SUM(E37:K37),0)']

In [44]:
import seaborn as sns

diamonds = sns.load_dataset('diamonds')

diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [46]:
diamonds.loc[diamonds["color"]=="E", "x"].sum()

53017.25