In [23]:
!pip install numpy
!pip install pandas


import numpy as np
import pandas as pd

Requirement already satisfied: numpy in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (1.25.2)

WARNING: You are using pip version 22.0.4; however, version 23.2.1 is available.
You should consider upgrading via the 'C:\Users\user\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: pandas in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (2.1.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.22.4 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (1.25.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

WARNING: You are using pip version 22.0.4; however, version 23.2.1 is available.
You should consider upgrading via the 'C:\Users\user\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [42]:
pip install xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.1.3-py3-none-any.whl (153 kB)
     -------------------------------------- 153.2/153.2 KB 1.5 MB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.1.3
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 23.2.1 is available.
You should consider upgrading via the 'C:\Users\user\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [43]:
import xlsxwriter

In [55]:
time = pd.DataFrame()

Trying to make a dynamic Date Column and assigning all the hours of the different projects as 0

In [56]:
# defining the function that creates the dates of a month according to the month and the year name provided

def create_range(month, year):
    d = pd.to_datetime(f'{month} {year}', format='%B %Y')
    return pd.date_range(start = d, periods = d.daysinmonth)

In [58]:
#adjust the parameters in this step to get the desired output

date_creator = create_range(month = 'May', year = 2023)

time["Date"] = date_creator

time["Resource"] = "Gourab"

time["Resource_Project_code"] = "Project_code"

time["P_A"] = 0
time["P_B"] = 0
time["P_C"] = 0
time["P_D"] = 0
time["P_E"] = 0
time["P_F"] = 0
time["P_G"] = 0

In [9]:
column_order = ["Date", "Resource", "Resource_Project_code", "P_A", "P_B", "P_C", "P_D", "P_E", "P_F", "P_G", ]

In [59]:
#function to make customised weekend 

"""Example - if a person has working day from tuesday to Saturday his weekends will be sunday and monday
    and that will be pointed out in the new column. If it is a weekend then the column output will be a 'Yes'
    otherwise it will be 'No' """

def is_weekend(date):
    return date.weekday() == 6 or date.weekday() == 0

time['is_weekend'] = time['Date'].apply(lambda x: "Yes" if is_weekend(x) else "No")

In [60]:
time.head()

,Date,Resource,Resource_Project_code,P_A,P_B,P_C,P_D,P_E,P_F,P_G,is_weekend
0,2023-05-01,Gourab,Project_code,0,0,0,0,0,0,0,Yes
1,2023-05-02,Gourab,Project_code,0,0,0,0,0,0,0,No
2,2023-05-03,Gourab,Project_code,0,0,0,0,0,0,0,No
3,2023-05-04,Gourab,Project_code,0,0,0,0,0,0,0,No
4,2023-05-05,Gourab,Project_code,0,0,0,0,0,0,0,No

In [61]:
time["Weekday Hours"] = 0
time["Weekend Hours"] = 0
time["Total Hours"]=0
time["Comments"]=" "
time["Weekend comments"]=" "

In [79]:
time["Date"]=pd.to_datetime(time["Date"]).dt.date

time['Date'].head()

0    2023-05-01
1    2023-05-02
2    2023-05-03
3    2023-05-04
4    2023-05-05
Name: Date, dtype: object

AttributeError: 'Series' object has no attribute 'style'

In [63]:
time.head()

,Date,Resource,Resource_Project_code,P_A,P_B,P_C,P_D,P_E,P_F,P_G,is_weekend,Weekday Hours,Weekend Hours,Total Hours,Comments,Weekend comments
0,2023-05-01,Gourab,Project_code,0,0,0,0,0,0,0,Yes,0,0,0,,
1,2023-05-02,Gourab,Project_code,0,0,0,0,0,0,0,No,0,0,0,,
2,2023-05-03,Gourab,Project_code,0,0,0,0,0,0,0,No,0,0,0,,
3,2023-05-04,Gourab,Project_code,0,0,0,0,0,0,0,No,0,0,0,,
4,2023-05-05,Gourab,Project_code,0,0,0,0,0,0,0,No,0,0,0,,

In [84]:
writer = pd.ExcelWriter('demo.xlsx', engine = 'xlsxwriter')

time.to_excel(writer, sheet_name='hours', startrow=6,startcol=1, index=False)

workbook = writer.book
worksheet = writer.sheets['hours']
green = workbook.add_format({'color':'green'})


text_wrap = workbook.add_format({'text_wrap':True})

string = ['Weekends are marked in',green,' green']
worksheet.write(1, 0, 'Note: ')
worksheet.write_rich_string(2, 0, 
                            *string)



# merging the columns to set the header
merge_format = workbook.add_format(
    {
        "align":"center"
    }
)


worksheet.merge_range("E5:K5", "Project code and hours", merge_format)
worksheet.write("E6", "code A", merge_format)
worksheet.write("F6", 'code B', merge_format)
worksheet.write("G6", 'code C', merge_format)
worksheet.write("H6", 'code D', merge_format)
worksheet.write("I6", 'code E', merge_format)
worksheet.write('J6', 'code F', merge_format)
worksheet.write('K6', 'code G', merge_format)



writer.close()