In [1]:
!pip install numpy
!pip install pandas


import numpy as np
import pandas as pd

Requirement already satisfied: numpy in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (1.25.2)

WARNING: You are using pip version 22.0.4; however, version 23.3.1 is available.
You should consider upgrading via the 'C:\Users\user\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: pandas in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (2.1.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.22.4 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

WARNING: You are using pip version 22.0.4; however, version 23.3.1 is available.
You should consider upgrading via the 'C:\Users\user\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [2]:
pip install xlsxwriter

Requirement already satisfied: xlsxwriter in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (3.1.3)Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 23.3.1 is available.
You should consider upgrading via the 'C:\Users\user\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [3]:
import xlsxwriter

In [48]:
# initialising the dataframes

# dataframe for saturday as a weekend and 
time = pd.DataFrame() 

# normal dataframe for saturday and sunday as week-off
time1 = pd.DataFrame()


# dataframe for sunday as weekend and Friday and Saturday as weekoff
time2 = pd.DataFrame()

Trying to make a dynamic Date Column and assigning all the hours of the different projects as 0

In [49]:
# defining the function that creates the dates of a month according to the month and the year name provided

def create_range(month, year):
    d = pd.to_datetime(f'{month} {year}', format='%B %Y')
    return pd.date_range(start = d, periods = d.daysinmonth)

In [50]:
#adjust the parameters in this step to get the desired output(for Saturday as weekend and Sunday and Monday as weekoff)

date_creator = create_range(month = 'November', year = 2023)

time["Date"] = date_creator

time["Resource"] = "Gourab"

time["Resource_Project_code"] = "Project_code"

time["P_A"] = 0
time["P_B"] = 0
time["P_C"] = 0
time["P_D"] = 0
time["P_E"] = 0
time["P_F"] = 0
time["P_G"] = 0

In [51]:
#adjust the parameters in this step to get the desired output(for Sunday as weekend and Friday and Saturday as weekoff)

date_creator1 = create_range(month = 'November', year = 2023)

time1["Date"] = date_creator1

time1["Resource"] = "Rajib"

time1["Resource_Project_code"] = "Project_code"

time1["P_A"] = 0
time1["P_B"] = 0
time1["P_C"] = 0
time1["P_D"] = 0
time1["P_E"] = 0
time1["P_F"] = 0
time1["P_G"] = 0

In [52]:
#adjust the parameters in this step to get the desired output(for Saturday and Sunday as weekoff)

date_creator = create_range(month = 'November', year = 2023)

time2["Date"] = date_creator

time2["Resource"] = "Ayushi"

time2["Resource_Project_code"] = "Project_code"

time2["P_A"] = 0
time2["P_B"] = 0
time2["P_C"] = 0
time2["P_D"] = 0
time2["P_E"] = 0
time2["P_F"] = 0
time2["P_G"] = 0

In [53]:
time.head()

        Date Resource Resource_Project_code  P_A  P_B  P_C  P_D  P_E  P_F  P_G
0 2023-11-01   Gourab          Project_code    0    0    0    0    0    0    0
1 2023-11-02   Gourab          Project_code    0    0    0    0    0    0    0
2 2023-11-03   Gourab          Project_code    0    0    0    0    0    0    0
3 2023-11-04   Gourab          Project_code    0    0    0    0    0    0    0
4 2023-11-05   Gourab          Project_code    0    0    0    0    0    0    0

In [54]:
time1.head()

        Date Resource Resource_Project_code  P_A  P_B  P_C  P_D  P_E  P_F  P_G
0 2023-11-01    Rajib          Project_code    0    0    0    0    0    0    0
1 2023-11-02    Rajib          Project_code    0    0    0    0    0    0    0
2 2023-11-03    Rajib          Project_code    0    0    0    0    0    0    0
3 2023-11-04    Rajib          Project_code    0    0    0    0    0    0    0
4 2023-11-05    Rajib          Project_code    0    0    0    0    0    0    0

In [55]:
time2.head()

        Date Resource Resource_Project_code  P_A  P_B  P_C  P_D  P_E  P_F  P_G
0 2023-11-01   Ayushi          Project_code    0    0    0    0    0    0    0
1 2023-11-02   Ayushi          Project_code    0    0    0    0    0    0    0
2 2023-11-03   Ayushi          Project_code    0    0    0    0    0    0    0
3 2023-11-04   Ayushi          Project_code    0    0    0    0    0    0    0
4 2023-11-05   Ayushi          Project_code    0    0    0    0    0    0    0

In [56]:
# function to convert the date to string in dd-mm-yyyy format

def convert_date_standard_string(obj):
    return "{:%d-%m-%Y}".format(obj)

In [57]:
#function to make customised weekend (for sunday and monday as week-off)

"""Example - if a person has working day from tuesday to Saturday his weekoffs will be sunday and monday
    and that will be pointed out in the new column. If he is working on a saturday then that day
     will be marked as a weekend """

def is_weekoff_weekend(date):
    if date.weekday() == 6 or date.weekday() == 0:
        return "Week-Off"
    elif date.weekday() == 5:
        return "Week-End"
    else:
        return "Working Day"

time['day-description'] = time['Date'].apply(is_weekoff_weekend)

In [59]:
#function to make customised weekend (for Friday and saturday as week-off)
def is_weekoff_weekend_sunday(date):
    if date.weekday() == 4 or date.weekday() == 5:
        return "Week-Off"
    elif date.weekday() == 6:
        return "Week-End"
    else:
        return "Working Day"

time1['day-description'] = time1['Date'].apply(is_weekoff_weekend_sunday)

In [60]:
#function to make customised weekend (for Saturday and Sunday as week-off)
def is_weekoff_weekend_normal(date):
    if date.weekday() == 6 or date.weekday() == 5:
        return "Week-Off"
    else:
        return "Working Day"

time2['day-description'] = time2['Date'].apply(is_weekoff_weekend_normal)

In [61]:
time2.head(12)

,Date,Resource,Resource_Project_code,P_A,P_B,P_C,P_D,P_E,P_F,P_G,day-description
0,2023-11-01,Ayushi,Project_code,0,0,0,0,0,0,0,Working Day
1,2023-11-02,Ayushi,Project_code,0,0,0,0,0,0,0,Working Day
2,2023-11-03,Ayushi,Project_code,0,0,0,0,0,0,0,Working Day
3,2023-11-04,Ayushi,Project_code,0,0,0,0,0,0,0,Week-Off
4,2023-11-05,Ayushi,Project_code,0,0,0,0,0,0,0,Week-Off
5,2023-11-06,Ayushi,Project_code,0,0,0,0,0,0,0,Working Day
6,2023-11-07,Ayushi,Project_code,0,0,0,0,0,0,0,Working Day
7,2023-11-08,Ayushi,Project_code,0,0,0,0,0,0,0,Working Day
8,2023-11-09,Ayushi,Project_code,0,0,0,0,0,0,0,Working Day
9,2023-11-10,Ayushi,Project_code,0,0,0,0,0,0,0,Working Day
10,2023-11-11,Ayushi,Project_code,0,0,0,0,0,0,0,Week-Off
11,2023-11-12,Ayushi,Project_code,0,0,0,0,0,0,0,Week-Off

In [62]:
# for sunday-monday weekoff

time["Weekday Hours"] = 0
time["Weekend Hours"] = 0
time["Total Hours"]=0
time["Comments"]=" "
time["Weekend comments"]=" "

In [63]:
# for friday-sunday weekoff
time1["Weekday Hours"] = 0
time1["Weekend Hours"] = 0
time1["Total Hours"]=0
time1["Comments"]=" "
time1["Weekend comments"]=" "

In [64]:
# for saturday-sunday weekoff
time2["Total Hours"]=0
time2["Comments"]=" "
time2["Weekend comments"]=" "

In [12]:
# finding the dimension of the dataframe

time.shape[0]

30

In [65]:
time['Date'] = time['Date'].apply(convert_date_standard_string)
time1['Date']= time1['Date'].apply(convert_date_standard_string)
time2["Date"] = time2['Date'].apply(convert_date_standard_string)

In [68]:
time2.head(8)

,Date,Resource,Resource_Project_code,P_A,P_B,P_C,P_D,P_E,P_F,P_G,day-description,Total Hours,Comments,Weekend comments
0,01-11-2023,Ayushi,Project_code,0,0,0,0,0,0,0,Working Day,0,,
1,02-11-2023,Ayushi,Project_code,0,0,0,0,0,0,0,Working Day,0,,
2,03-11-2023,Ayushi,Project_code,0,0,0,0,0,0,0,Working Day,0,,
3,04-11-2023,Ayushi,Project_code,0,0,0,0,0,0,0,Week-Off,0,,
4,05-11-2023,Ayushi,Project_code,0,0,0,0,0,0,0,Week-Off,0,,
5,06-11-2023,Ayushi,Project_code,0,0,0,0,0,0,0,Working Day,0,,
6,07-11-2023,Ayushi,Project_code,0,0,0,0,0,0,0,Working Day,0,,
7,08-11-2023,Ayushi,Project_code,0,0,0,0,0,0,0,Working Day,0,,

# excel workbook for Sunday and Monday as Weekend

In [20]:
writer = pd.ExcelWriter('saturday_weekend.xlsx', engine = 'xlsxwriter', date_format='%d-%m-%Y')

time.to_excel(writer, sheet_name='hours', startrow=13,startcol=0, index=False)

workbook = writer.book
worksheet = writer.sheets['hours']
green = workbook.add_format({'color':'green'})
red = workbook.add_format({'color':'red'})




string = ['Weekoffs, Leaves, Holidays are marked in',red,' red.', ' Weekends are marked in', green, ' green.']
worksheet.write(0, 0, 'Note: ')
worksheet.write_rich_string(1, 0, 
                            *string)

# setting the border format
centre_border = workbook.add_format({'border': 1, "align":"middle"})
centre_border.set_text_wrap()

# # merging the columns to set the header
# centre_format = workbook.add_format(
#     {
#         "align":"middle"
#     }
# )

worksheet.write(3, 0, 'Project name and Tasks-')
worksheet.write(4, 0, 'P_A - This is the task for project A. [US Project code - US_A]')
worksheet.write(5, 0, 'P_B - This is the task for project B. [US Project code - US_B]')
worksheet.write(6, 0, 'P_C - This is the task for project C. [US Project code - US_C]')
worksheet.write(7, 0, 'P_D - This is the task for project D. [US Project code - US_D]')
worksheet.write(8, 0, 'P_E - This is the task for project E. [US Project code - US_E]')
worksheet.write(9, 0, 'P_F - This is the task for project F. [US Project code - US_F]')
worksheet.write(10, 0, 'P_G - This is the task for project G. [US Project code - US_G]')





# creating the space for calculating the total number of hours for weekend and weekdays

worksheet.write(48, 1, 'Project', centre_border)
worksheet.write(48, 2, 'US-Project code',centre_border)
worksheet.write(48, 3, 'Total Weekday hours',centre_border)
worksheet.write(48, 4, 'Total Weekend hours', centre_border)
worksheet.write(48, 5, 'Total hours',centre_border)


# writing the project names
worksheet.write(49, 1, 'P_A')
worksheet.write(50, 1, 'P_B')
worksheet.write(51, 1, 'P_C')
worksheet.write(52, 1, 'P_D')
worksheet.write(53, 1, 'P_E')
worksheet.write(54, 1, 'P_F')
worksheet.write(55, 1, 'P_G')

# writing the US-Project codes

worksheet.write(49, 2, 'US_A')
worksheet.write(50, 2, 'US_B')
worksheet.write(51, 2, 'US_C')
worksheet.write(52, 2, 'US_D')
worksheet.write(53, 2, 'US_E')
worksheet.write(54, 2, 'US_F')
worksheet.write(55, 2, 'US_G')









# formatting the cells based off their values
worksheet.conditional_format('A15:P46', {'type':'formula', 'criteria':'=$K15="Week-Off"','format':red})
worksheet.conditional_format('A15:P46', {'type':'formula', 'criteria':'=$K15="Week-End"','format':green})
worksheet.conditional_format('A15:P46', {'type':'formula', 'criteria':'=$K15="Leave"','format':red})
worksheet.conditional_format('A15:P46', {'type':'formula', 'criteria':'=$K15="Holiday"','format':red})


# aligning the values in the middle

centre_format = workbook.add_format()
centre_format.set_align('vcentre')

worksheet.set_column('A:XFD', None, centre_format)

# setting the column width

worksheet.set_column(0,0, 12.5)
worksheet.set_column(1,13, 20)
worksheet.set_column(14, 15, 33.5)



# displaying the total hours in weekend and weekdays and also including data for Half-day leaves

# for project A
worksheet.write_formula('D50','=SUMIF(K15:K45,"Working Day", D15:D45)' )
worksheet.write_formula('E50','=SUMIF(K15:K45,"Week-End", D15:D45)' )

# for project B
worksheet.write_formula('D51','=SUMIF(K15:K45,"Working Day", E15:E45)' )
worksheet.write_formula('E51','=SUMIF(K15:K45,"Week-End", E15:E45)' )

# for project C
worksheet.write_formula('D52','=SUMIF(K15:K45,"Working Day", F15:F45)' )
worksheet.write_formula('E52','=SUMIF(K15:K45,"Week-End", F15:F45)' )

# for project D
worksheet.write_formula('D53','=SUMIF(K15:K45,"Working Day", G15:G45)' )
worksheet.write_formula('E53','=SUMIF(K15:K45,"Week-End", G15:G45)' )

# for project E
worksheet.write_formula('D54','=SUMIF(K15:K45,"Working Day", H15:H45)' )
worksheet.write_formula('E54','=SUMIF(K15:K45,"Week-End", H15:H45)' )

# for porject F
worksheet.write_formula('D55','=SUMIF(K15:K45,"Working Day", I15:I45)' )
worksheet.write_formula('E55','=SUMIF(K15:K45,"Week-End", I15:I45)' )

# for project G
worksheet.write_formula('D56','=SUMIF(K15:K45,"Working Day", J15:J45)' )
worksheet.write_formula('E56','=SUMIF(K15:K45,"Week-End", J15:J45)' )


# for calculating the total of the two columns
worksheet.write_formula('F50','=$D50+$E50')

# calculating the total hours for the month
worksheet.write_formula('F57', '=sum(F50,F51, F52, F53, F54, F55, F56)')


# calculating the total hours by row
worksheet.write_formula('L15','=IF($K15="Working Day", SUM($D15:$J15), 0)')
worksheet.write_formula('M15','=IF($K15="Week-End", SUM($D15:$J15), 0)')
worksheet.write_formula('N15','=SUM($L15:$M15)')






# worksheet.write('D42','Total Weekdays hours', merge_format)
# worksheet.write('E42', 'Total Weekend hours', merge_format)
# worksheet.write('F42', 'Total Hours', merge_format)
# worksheet.write_formula('C43', '=E6')
# worksheet.write_formula('C44', '=F6')
# worksheet.write_formula('C45', '=G6')
# worksheet.write_formula('C46', '=H6')
# worksheet.write_formula('C47', '=I6')
# worksheet.write_formula('C48', '=J6')
# worksheet.write_formula('C49', '=K6')

# defining the formulas inside the excel

# creating the cell range

# cell_range = [f'L{i}' for i in range(8,38)]
# sum_range = [f'SUM(E{i}:K{i})' for i in range(8, 38)]

# formula = []

# for i in range(len(cell_range)):
#     formula.append(f'=IF({cell_range[i]}="No",{sum_range[i]},0)')

# for i in range(len(cell_range)):
#     worksheet.write_formula("cell_range[i]", )

# data_range = "L8:L38"

# worksheet.write_formula(data_range,'{=SUM(IF($L8="Yes",0,$D8:$J8))}')







# autofitting the worksheet cells
# worksheet.autofit()

writer.close()

# Excel report for Friday and Saturday as Weekend

# Excel report for Saturday and Sunday as weekend

In [ ]:
cell_range = [f'L{i}' for i in range(8,38)]
sum_range = [f'SUM(E{i}:K{i})' for i in range(8, 38)]

formula = []

for i in range(len(cell_range)):
    formula.append(f'=IF({cell_range[i]}="No",{sum_range[i]},0)')


for i in range(len(cell_range)):
    print(f'cell = "{cell_range[i]}", formula"{formula[i]}"')

cell = "L8", formula"=IF(L8="No",SUM(E8:K8),0)"
cell = "L9", formula"=IF(L9="No",SUM(E9:K9),0)"
cell = "L10", formula"=IF(L10="No",SUM(E10:K10),0)"
cell = "L11", formula"=IF(L11="No",SUM(E11:K11),0)"
cell = "L12", formula"=IF(L12="No",SUM(E12:K12),0)"
cell = "L13", formula"=IF(L13="No",SUM(E13:K13),0)"
cell = "L14", formula"=IF(L14="No",SUM(E14:K14),0)"
cell = "L15", formula"=IF(L15="No",SUM(E15:K15),0)"
cell = "L16", formula"=IF(L16="No",SUM(E16:K16),0)"
cell = "L17", formula"=IF(L17="No",SUM(E17:K17),0)"
cell = "L18", formula"=IF(L18="No",SUM(E18:K18),0)"
cell = "L19", formula"=IF(L19="No",SUM(E19:K19),0)"
cell = "L20", formula"=IF(L20="No",SUM(E20:K20),0)"
cell = "L21", formula"=IF(L21="No",SUM(E21:K21),0)"
cell = "L22", formula"=IF(L22="No",SUM(E22:K22),0)"
cell = "L23", formula"=IF(L23="No",SUM(E23:K23),0)"
cell = "L24", formula"=IF(L24="No",SUM(E24:K24),0)"
cell = "L25", formula"=IF(L25="No",SUM(E25:K25),0)"
cell = "L26", formula"=IF(L26="No",SUM(E26:K26),0)"
cell = "L27", formula"=IF(L27="No",SUM(E27:K27),0)"
cell = "L28", formula"=IF(L28="No",SUM(E28:K28),0)"
cell = "L29", formula"=IF(L29="No",SUM(E29:K29),0)"
cell = "L30", formula"=IF(L30="No",SUM(E30:K30),0)"
cell = "L31", formula"=IF(L31="No",SUM(E31:K31),0)"
cell = "L32", formula"=IF(L32="No",SUM(E32:K32),0)"
cell = "L33", formula"=IF(L33="No",SUM(E33:K33),0)"
cell = "L34", formula"=IF(L34="No",SUM(E34:K34),0)"
cell = "L35", formula"=IF(L35="No",SUM(E35:K35),0)"
cell = "L36", formula"=IF(L36="No",SUM(E36:K36),0)"
cell = "L37", formula"=IF(L37="No",SUM(E37:K37),0)"

In [ ]:
formula

['=IF(L8="No",SUM(E8:K8),0)',
 '=IF(L9="No",SUM(E9:K9),0)',
 '=IF(L10="No",SUM(E10:K10),0)',
 '=IF(L11="No",SUM(E11:K11),0)',
 '=IF(L12="No",SUM(E12:K12),0)',
 '=IF(L13="No",SUM(E13:K13),0)',
 '=IF(L14="No",SUM(E14:K14),0)',
 '=IF(L15="No",SUM(E15:K15),0)',
 '=IF(L16="No",SUM(E16:K16),0)',
 '=IF(L17="No",SUM(E17:K17),0)',
 '=IF(L18="No",SUM(E18:K18),0)',
 '=IF(L19="No",SUM(E19:K19),0)',
 '=IF(L20="No",SUM(E20:K20),0)',
 '=IF(L21="No",SUM(E21:K21),0)',
 '=IF(L22="No",SUM(E22:K22),0)',
 '=IF(L23="No",SUM(E23:K23),0)',
 '=IF(L24="No",SUM(E24:K24),0)',
 '=IF(L25="No",SUM(E25:K25),0)',
 '=IF(L26="No",SUM(E26:K26),0)',
 '=IF(L27="No",SUM(E27:K27),0)',
 '=IF(L28="No",SUM(E28:K28),0)',
 '=IF(L29="No",SUM(E29:K29),0)',
 '=IF(L30="No",SUM(E30:K30),0)',
 '=IF(L31="No",SUM(E31:K31),0)',
 '=IF(L32="No",SUM(E32:K32),0)',
 '=IF(L33="No",SUM(E33:K33),0)',
 '=IF(L34="No",SUM(E34:K34),0)',
 '=IF(L35="No",SUM(E35:K35),0)',
 '=IF(L36="No",SUM(E36:K36),0)',
 '=IF(L37="No",SUM(E37:K37),0)']

In [ ]:
import seaborn as sns

diamonds = sns.load_dataset('diamonds')

diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [ ]:
diamonds.loc[diamonds["color"]=="E", "x"].sum()

53017.25